/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.matrix-table {
  overflow-y: auto;
  max-height: 400px; /* Set a maximum height to enable scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

td.reveal {
  /* background-color: #e2f2ff; Highlight revealed cells */
}
